h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.text {
  font-family: Inter, sans-serif;
  color: black;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 130%;
}

.button {
  border-radius: 8px;
  background: #0962E8;
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.container {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
}

.top {
  width: 100%;
  background-color: #cbecff;
  overflow-x: clip;
  position: relative;
}

.top__languages-block {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-top: 24px;
}

.top__language {
  margin-left: 15px;
  font-family: Inter, sans-serif;
  border-radius: 12px;
  padding: 2px 4px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  cursor: pointer;
}

.top__language_selected {
  background-color: white;
  color: #0962E8;
}

.top__phone-image-container {
  position: relative;
  width: 100%;
  height: 408px;
}

.top__phone-image {
  position: absolute;
  width: 558px;
  height: 500px;
  top: -40px;
  left: -35px;
}

.top__logo {
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 123%;
}

.top__logo-kit {
  margin-left: 5px;
  padding: 0 15px 0 8px;
  background-color: white;
  border-radius: 10px;
  color: #0962E8;
}

.top__text {
  margin-top: 12px;
  width: 98%;
  font-size: 16px;
}

.top__demo-button {
  margin-top: 10px;
}

.top__cards {
  margin-top: 2px;
  margin-bottom: 33px;
}

.cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 164px;
  min-height: 118px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 6px 4px 12px 0 rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  max-height: 134px;
}

.card__text {
  padding: 48px 11px 16px 18px;
  font-style: normal;
  font-weight: 450;
}

.card__img-container {
  position: absolute;
  background-color: #EFF9FF;
  border-radius: 50%;
  padding: 8px 8px 5px;
  left: 18px;
  top: -5px;
}

.bottom {
  width: 100%;
  background-color: #FFFFFF;
}

.bottom__header {
  color: #29374E;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 31.2px */
  letter-spacing: -0.72px;
  margin-top: 40px;
}

.bottom__header_blue {
  color: #0962E8;
}

.bottom__blue-cards {
  margin-top: 8px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.bottom__blue-card {
  margin: 16px auto 0;
  width: 100%;
  height: 215px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  background: #E9F6FF;
  padding: 25px 20px 0 16px;
  position: relative;
}

.bottom__blue-card-header {
  color: #29374E;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.bottom__blue-card-text {
  font-size: 13px;
  line-height: 140%;
}

.bottom__blue-card-text-container {
  width: 162px;
}

.bottom__blue-card-img {
  position: absolute;
  width: 155px;
  height: 210px;
  right: 5px;
  bottom: -5px;
}

.bottom__broker-text {
  margin-top: 5px;
  text-align: center;
  font-weight: 450;
  line-height: 140%;
}

.bottom__demo-button {
  margin-top: 12px;
}

.bottom__cards {
  margin-top: 17px;
  margin-bottom: 50px;
}

@media (min-width: 800px) {
  .top {
    height: 640px;
  }
  .button {
    width: 199px;
    height: 52px;
    border-right: 8px;
    font-size: 18px;
    font-weight: 450;
    line-height: 140%;
  }
  .container {
    max-width: 900px;
    padding: 0 50px;
  }
  .top__phone-image {
    width: 600px;
    height: 550px;
    right: 0;
  }
  .top__content-flex-box {
    display: flex;
    flex-direction: row-reverse;
  }
  .top__left-content {
    margin-top: 78px;
  }
  .top__logo {
    font-size: 50px;
    font-weight: 650;
    line-height: 130%;
  }
  .top__text {
    margin-top: 14px;
    font-size: 18px;
    line-height: 130%;
    width: 300px;
  }
  .top__demo-button {
    margin-top: 38px;
  }
  .top__phone-image {
    left: 20px;
  }
  .top__cards {
    position: absolute;
    bottom: -40px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  .card {
    width: 180px;
    min-height: 118px;
  }
  .bottom__header {
    margin: 115px auto 0;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -1.14px;
    width: 500px;
  }
  .bottom__blue-card {
    width: 390px;
    height: 280px;
    padding: 30px 30px 0 18px;
    border-radius: 26px;
  }
  .bottom__blue-card-header {
    font-size: 18px;
  }
  .bottom__blue-card-text {
    margin-top: 12px;
  }
  .bottom__blue-card-img {
    bottom: -7px;
    width: 200px;
    height: 280px;
  }
  .bottom__flex-box {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  .bottom__left-content {
    width: 50%;
  }
  .bottom__left-content-header {
    width: 100%;
    text-align: left;
    margin: 0;
  }
  .bottom__cards {
    width: 50%;
    margin-top: 0;
  }
  .bottom__broker-text {
    text-align: left;
    margin-top: 21px;
    width: 350px;
  }
  .bottom__demo-button {
    margin-top: 37px;
    width: 180px;
  }
  .bottom__card {
    box-shadow: unset;
  }
}
@media (min-width: 1100px) {
  .container {
    max-width: 1144px;
    padding: 0 60px;
  }
  .top {
    height: 665px;
  }
  .top__language {
    margin-left: 20px;
  }
  .top__logo {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .top__text {
    font-size: 22px;
    font-weight: 350;
    line-height: 130%;
    width: 350px;
  }
  .button {
    width: 199px;
    height: 52px;
    font-size: 18px;
    font-weight: 450;
    line-height: 140%;
  }
  .top__phone-image-container {
    width: 50%;
  }
  .top__phone-image {
    width: 740px;
    height: 685px;
    left: -50px;
    top: -50px;
  }
  .top__content-flex-box {
    justify-content: space-between;
  }
  .card {
    width: 241px;
    height: 118px;
    padding: 22px 20px 0;
  }
  .top__cards {
    max-width: 1024px;
    bottom: -34px;
  }
  .card__text {
    width: 150px;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
  }
  .card__img-container {
    top: 15px;
    right: 18px;
    left: auto;
  }
  .br-span {
    margin-right: 100px;
  }
  .bottom__header {
    font-size: 38px;
    font-weight: 500;
    line-height: 130%; /* 49.4px */
    letter-spacing: -1.14px;
    margin-top: 150px;
  }
  .bottom__blue-cards {
    margin-top: 28px;
  }
  .bottom__blue-card {
    width: 502px;
    height: 328px;
  }
  .bottom__blue-card-header {
    font-size: 20px;
  }
  .bottom__blue-card-text-container {
    width: 200px;
  }
  .bottom__blue-card-text {
    font-weight: 400;
    line-height: 140%;
    font-size: 15px;
  }
  .br-span_blue-card {
    margin-right: 20px;
  }
  .bottom__blue-card-img {
    width: 255px;
    right: 11px;
    bottom: -8px;
    height: auto;
  }
  .bottom__flex-box {
    margin-top: 114px;
  }
  .bottom__left-content-header {
    margin-top: 0;
    font-size: 38px;
    line-height: 130%; /* 49.4px */
    letter-spacing: -1.14px;
  }
  .bottom__broker-text {
    width: 405px;
    font-weight: 500;
  }
  .bottom__card {
    width: 231px;
    height: 140px;
    margin-top: 0;
    padding: 70px 10px 30px 26px;
  }
  .bottom__card-img {
    position: absolute;
    width: 40px;
    right: 5px;
    bottom: 3px;
  }
  .bottom__card-img-container {
    padding: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 17px;
    right: auto;
  }
  .bottom__card-text {
    width: 231px;
  }
}

/*# sourceMappingURL=main.css.map */
